@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  --max-width: 1280px; 
}

body {
	margin: 0;
	display: flex;
	flex-direction: column; /* Apila los elementos verticalmente */
	align-items: center; /* Centra horizontalmente */
	justify-content: flex-start; /* Asegura que el contenido fluya hacia abajo */
	min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
	width: 100%;
	background-color: #203c2e; /* Fondo verde */
	padding: 2rem; /* Añade algo de espacio alrededor */
	box-sizing: border-box;
}
